.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5rem;
}

.dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;

  text-align: center;
  visibility: hidden;
}
.show-dropdown {
  visibility: visible;
}
