main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  align-items: center;
}
.nav-center {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
}
.toggle-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;

  cursor: pointer;
  display: flex;
  align-items: center;
}
.btn-container {
  display: flex;
  align-items: center;
}

.nav-center {
  width: 90%;
}
