.sidebar-container {
  position: fixed;
  inset: 0;
  background: #e0f1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0.5;
  margin-left: -250px;
  height: 100%;
  width: 250px;

  visibility: hidden;
}

.show-sidebar {
  z-index: 99;
  opacity: 1;
  margin-left: 0;
  visibility: visible;
}
.content {
  height: 95vh;

  padding: 4rem 2rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.close-btn {
  margin-top: 20px;
  top: 10px;
  left: 10px;
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
}
.nav-links {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.nav-link {
  display: flex;
  align-items: center;
  color: #005522;
  padding: 1rem 0;
  text-transform: capitalize;
}

.icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: grid;
  place-items: center;
}
